<a href="https://colab.research.google.com/github/data-analytics-workshop/python/blob/master/001_python_basic_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basic Introduction

## Data Structures
There are quite a few data structures available. The builtins data structures are: lists, tuples, dictionaries, strings, sets and frozensets.

### Strings
Strings are immutable sequence of letters, numbers or symbols named characters. The sequence of character is begin with 0 from the left to the right and -1 from the right to the left.
To create string, we need to use the ' '.

In [0]:
# Create String
string_a = 'Hello World'
string_a

In [0]:
# Check Type
type(string_a)

In [0]:
# Show String Length
len(string_a)

In [0]:
# Select the nth Character from the Left
string_a[1]

### Lists
Lists can contain any type of objects. We use [1, 2, 3] to add numeric object but for character we need to use ['one', 'two', 'three']. A single list may contain DataTypes like Integers, Strings, as well as Objects.

Lists are mutable, and hence, they can be altered even after their creation.

Each data has an address referred to as an index. The index is begins with 0 from the left to the right and begins with -1 from the right to the left.

Create list

In [0]:
# Create an Empty List
list_fruits = []
list_fruits

In [0]:
# Check Type
type(list_fruits)

In [0]:
# Create List
list_fruits = ['orange', 'apple', 'pear']
list_fruits

Add items to the list

In [0]:
# Append an Item to the end of List
list_fruits.append('banana')
list_fruits

In [0]:
# Extend Items to List
list_fruits.extend(['kiwi', 'apple', 'banana', 'durian', 'rambutan', 'grape'])
list_fruits

In [0]:
# Insert an Item to a Specific Index of a List
list_fruits.insert(2,'orange')
list_fruits

Explore the list

In [0]:
# Count an Item
list_fruits.count('banana')

In [0]:
# View the nth Item
list_fruits[2]

In [0]:
# View the nth Item
list_fruits[1:3]

In [0]:
# Sorts Items
list_fruits.sort(reverse=False)
list_fruits

In [0]:
# Reverse Items
list_fruits.reverse()
list_fruits

Remove items from the list

In [0]:
# Change the nth Item
list_fruits[2] = 'coconut'
list_fruits

In [0]:
# Remove the Nearest Item from List
list_fruits.remove('coconut')
list_fruits

In [0]:
# Remove the nth Item
del list_fruits[1]
list_fruits

In [0]:
# Remove the Multiple Items by Index Range
del list_fruits[4:6]
list_fruits

In [0]:
# Remove Items by specifying step as [start:stop:step]
del list_fruits[0:6:2]
list_fruits

Show items that meet the condition

In [0]:
# Show List without Items
print([s for s in list_fruits if s != 'apple'])

In [0]:
# Show Multiple Items that Starts with X
print([s for s in list_fruits if s.startswith('o')])

In [0]:
# Remove Multiple Items that Ends with X
print([s for s in list_fruits if s.endswith('e')])

In [0]:
# Remove Multiple Items that Start with X and Ends with Y
print([s for s in list_fruits if s.startswith('o') and s.endswith('e')])

Remove list

In [0]:
# Remove List
list_fruits.clear()
list_fruits

### Tuples
In someways a tuple is similar to a list in terms of indexing, nested objects and repetition but a tuple is immutable. We use (1, 2, 3) to add numeric object but for character we need to use ('one', 'two', 'three').

In [0]:
# Create Tuple
tuple_animals = ()
tuple_animals

In [0]:
# Check Type
type(tuple_animals)

In [0]:
# Create Tuple
tuple_animals = ('cat', 'lion', 'bear', 'dog', 'bird')
tuple_animals

In [0]:
# Create Tuple
tuple_animals1 = 'cat', 'lion', 'bear', 'dog', 'bird'
tuple_animals1

Explore the tuple

In [0]:
# Count an Item
tuple_animals.count('cat')

In [0]:
# Show the nth Item
tuple_animals[1]

In [0]:
# Show range of Items
tuple_animals[1:3]

In [0]:
# Show range of Items
tuple_animals[:2]

In [0]:
# Sorts Items
sorted(tuple_animals, reverse=False)

In [0]:
# Sorts Items
sorted(tuple_animals, reverse=True)

Convert tuple to the list

In [0]:
list_animals = list(tuple_animals)
list_animals

### Sets
Python also includes a data type for sets. A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.
Curly braces or the set() function can be used to create sets. Note: to create an empty set you have to use set(), not {}.
No index in sets since the values are unordered.

Create set

In [0]:
# Create an Empty Set
set_groceries_a = set()
set_groceries_a

In [0]:
# Check Type
type(set_groceries_a)

In [0]:
# Create Set
set_groceries_a = {'milk', 'diaper', 'parfume', 'noodle', 'bread', 'vegetable', 'milk', 'vegetable'}
set_groceries_a

In [0]:
# Create Set
set_groceries_b = {'milk', 'ball', 'towel', 'noodle', 'tea', 'vegetable'}
set_groceries_b

Add items to the set

In [0]:
# Add an Item
set_groceries_a.add('sausage') 
set_groceries_a

In [0]:
# Add Items
set_groceries_a.update(['beef','cheese','tofu']) 
set_groceries_a

Explore the set

In [0]:
# Search for Item Availability
'milk' in set_groceries_a

In [0]:
# Show Union (items in a or b or both)
set_groceries_a | set_groceries_b

In [0]:
# Show Intersection (items in both a and b)
set_groceries_a & set_groceries_b

In [0]:
# Show Symetric Difference (items in a or b but not both)
set_groceries_a ^ set_groceries_b

In [0]:
# Show Difference (items in a but not in b)
set_groceries_a - set_groceries_b

Remove items from the set

In [0]:
# Remove an Item
set_groceries_a.remove('sausage') 
set_groceries_a

The frozenset() is an inbuilt function is Python which takes an iterable object as input and makes them immutable. Simply it freezes the iterable objects and makes them unchangeable.

In [0]:
# Create Frozenset
frzset_groceries_a = frozenset(set_groceries_a)
frzset_groceries_a

Remove set

In [0]:
# Remove Set
set_groceries_b.clear()
set_groceries_b

### Dictionary
Dictionaries are sometimes found in other languages as “associative memories”.
Unlike list and tuples, which are indexed by a range of numbers, dictionaries are indexed by keys. Keys can be any immutable type.
The immutable frozenset and tuple can be used as keys. A mutable object cannot be used as a key. 
Another requirement is that the keys are unique (within one dictionary).
A pair of braces creates an empty dictionary {}

Create dictionary

In [0]:
# Create an Empty Dictionary
dict_colors = {}

In [0]:
# Create Dictionary
dict_colors = {'apple':'red',
               'blueberry':'blue',
               'avocado':'green',
               'banana':'yellow'}
dict_colors

In [0]:
# Show Access Key
dict_colors.keys()

Use the dictionary

In [0]:
# Show the Value from a Key
print(dict_colors.get('avocado'))

In [0]:
# Show the Value from a Key
print('The color of an avocado is %s' % dict_colors['avocado'])

In [0]:
# Show the Values from All Keys
for key, val in dict_colors.items():
    print("%s : %s" % (key, val))

##NumPy
NumPy is a basic package for scientific computing with Python and especially for data analysis. NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays.

Install and import library

In [0]:
# Install library
!pip install numpy

In [0]:
# Import library
import numpy as np

### Array
An array is a special variable, which can hold more than one value at a time. Arrays are used to store multiple values in one single variable

Create array

In [0]:
# Create an Array
array = np.array([1,2,3,4,5,6,7,8,9])
array

In [0]:
# Create an Array with Shape
array_a = np.array([1,2,3,4,5,6,7,8,9]).reshape((3,3))
array_a

In [0]:
# Create an Array based on Other Array
array_b = array_a + 6
array_b

In [0]:
# Concat Array a and Array b (Horizontally)
np.concatenate([array_a,array_b],axis=1)

In [0]:
# Concat Array a and Array b (Vertically)
np.concatenate([array_a,array_b],axis=0)

Explore the array

In [0]:
# Show the nth Row Index and nth Coulmn Index of an Array
array_a[0,1]

In [0]:
# Show the nth Row Index of an Array
array_a[0,:]

In [0]:
# Show the nth Column Index of an Array
array_a[:,1]

Assign value

In [0]:
# Assign Value to the nth Row Index of an Array
array_a[0,:] = 5
array_a

Basic operation

In [0]:
# Summation
array_a + array_b

In [0]:
# Multiplication
array_a * 2

In [0]:
# Multiplication
array_a * array_b

In [0]:
# Sum All Values in an Array
array_a.sum()

In [0]:
# Log
np.log(array_a)

### Matrix

Create matrix

In [0]:
# Create Matrix
matrix_a = np.matrix([1,2,3,4,5,6,7,8,9]).reshape((3,3))
matrix_a

In [0]:
# Create a Matrix based on Other Matrix
matrix_b = matrix_a + 6
matrix_b

Basic operation

In [0]:
# Summation
matrix_a + matrix_b

In [0]:
# Multiplication
matrix_a * matrix_b

## Pandas
Pandas is a software library written for the Python programming language for data manipulation and analysis. We can analyze data in pandas with Series and DataFrames.

Import library

In [0]:
# Import Library
import pandas as pd

### Series

Series is one dimensional(1-D) array defined in pandas that can be used to store any data type.

Create series

In [0]:
# Create a Series
series_a = pd.Series([12,-4,7,9])
series_a

In [0]:
# Create a Series with Index
series_a = pd.Series([12,-4,7,9,8,8,7,9], index=['a','b','c','d','e','f','g','h'])
series_a

Explore the series

In [0]:
# Show the nth Value of a Series
series_a[2]

In [0]:
# Show the Value of a Series based on Index
series_a['a']

In [0]:
# Set the nth Values of a Series
series_a[1] = 0
series_a

In [0]:
# Filtering Values
series_a[series_a > 8]

In [0]:
# Operations and Mathematical Functions
series_a + 2

In [0]:
# Show Unique Value
series_a.unique()

In [0]:
# Count Each Value
series_a.value_counts()

### DataFrame
The DataFrame is a tabular data structure very similar to the Spreadsheet (the most familiar are Excel
spreadsheets). This data structure is designed to extend the case of the Series to multiple dimensions.

Create Data Frame

In [0]:
# Create Data Frame
data = {'color' : ['blue','green','yellow','red','white'],
        'object' : ['ball','pen','pencil','paper','mug'],
        'price' : [1.2,1.0,0.6,0.9,1.7]}
df_stationary_a = pd.DataFrame(data)
df_stationary_a

In [0]:
# Select Columns and Create a New Data Frame
df_stationary_b = pd.DataFrame(df_stationary_a, columns=['object','price'])
df_stationary_b

In [0]:
# Set Index for the Data Frame
df_stationary_c = pd.DataFrame(data, index=['one','two','three','four','five'])
df_stationary_c

Import Data

In [0]:
# Import Data
df_churn = pd.read_csv('https://raw.githubusercontent.com/rc-dbe/bigdatacertification/master/dataset/churn.csv', sep=';',)
df_churn

Data Exploration

In [0]:
# Show Missing Values on Data Frame
df_churn.isnull().sum()

In [0]:
# Impute Missing Values with Median Value
median = df_churn["TotalCharges"].median()
df_churn["TotalCharges"].fillna(median, inplace=True)

In [0]:
# Check the Data Information
df_churn.info()

In [0]:
# Describe the Statistics of Data
df_churn.describe()

In [0]:
# Save Data Frame as CSV
df_churn.to_csv('churn bersih.csv', index=False)