<a href="https://colab.research.google.com/github/data-analytics-workshop/python/blob/master/002_data_design_and_transformation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Design and Transformation with Pandas

It is often the case with data science projects that you’ll have to deal with messy or incomplete data. The raw data we obtain from different data sources is often unusable at the beginning. All the activity that you do on the raw data to make it “clean” enough to input to your analytical algorithm is called data wrangling.

In basic terms data wrangling is the process of unifying and organising different data sets. This step iteratively changes the shape of a dataset until it works well for finding insights or building a good analytic model. Data wrangling is the process where individuals manually convert and map raw data into another format in order to make it more accessible and usable. 

Pandas is mainly used for machine learning in form of dataframes. Pandas allow importing data of various file formats such as csv, excel etc. Pandas allows various data manipulation operations such as groupby, join, merge, melt, concatenation as well as data cleaning features such as filling, replacing or imputing null values. The Pandas library provides useful functions to support Data Wrangling tasks.

Import Libraries

In [0]:
# Import Libraries for Data Manupulation
import numpy as np
import pandas as pd

## Joining Data

Organizations typically find that their data comes from many different sources and this means that it can become scattered and unorganised. Joining data is pusposed to organise different data sets.

### Concatenating

Concatenating is defined as combining multiple data sources together. The concat function is performing concatenation operations along an axis. Let us create different objects and do concatenation.

Create data frame

In [0]:
# Create data frame 1
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3]) 
df1

In [0]:
# Create data frame 2
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])
df2

In [0]:
# Create data frame 3
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[0, 1, 2, 3])
df3

In [0]:
# Create data frame 4
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                    index=[2, 3, 6, 7])
df4

Concat the same size data frame vertically

In [0]:
# Concat Data Frame
pd.concat([df1, df2])

In [0]:
# Concat Data Frame with Keys
pd.concat([df1, df2, df3], keys=['df1', 'df2'])

Concat the same size data frame horizontally

In [0]:
# Concat Data Frame
pd.concat([df1, df3], axis=1)

In [0]:
# Concat Data Frame with Keys
pd.concat([df1, df3], axis=1, keys=['df1', 'df2'])

Concat the different size data frame vertically

In [0]:
# Concat with Join Outer
pd.concat([df1, df4], join='outer', keys=['df1', 'df4'])

In [0]:
# Concat with Join Inner
pd.concat([df1, df4], join='inner', keys=['df1', 'df4'])

Concat the different size data frame horizontally

In [0]:
# Concat with Join Outer
pd.concat([df1, df4], axis=1, join='outer', keys=['df1', 'df4'])

In [0]:
# Concat with Join Inner
pd.concat([df1, df4], axis=1, join='inner', keys=['df1', 'df4'])

Ignoring indexes on the concatenation axis

In [0]:
# Concat and Ignore Index
pd.concat([df1, df4], axis=1, join='outer', ignore_index=True)

### Merging

Merge operations combine data by linking rows using key(s). These operations are central to relational databases. The merge function in pandas is the main entry point for using these algorithms on your data.

Create data frame

In [0]:
# Create Pet Weight Data Frame
df_pets_age = pd.DataFrame( {'pet'  : ['cat', 'cat', 'dog', 'dog', 'dog', 'otter', 'otter'],
                             'age'  : [1, 1, 3, 3, 5, 2, 4]})
df_pets_age

In [0]:
# Create Pet Color Data Frame
df_pets_color = pd.DataFrame({'pet': ['cat', 'dog', 'otter', 'lion'],
                             'color' : ['white', 'grey', 'brown', 'red']})
df_pets_color

In [0]:
# Create Animal Type Data Frame
df_animals_type = pd.DataFrame({'animal': ['cat', 'dog', 'otter', 'lion'],
                                'type' : ['tame', 'tame', 'tame', 'wild']})
df_animals_type

Merge with the same key column name

In [0]:
# Merge Pet Age and Pet Color based on pet Column
df_pets = pd.merge(df_pets_age, df_pets_color, on='pet')
df_pets

If the column names are different in each data frame, you can specify them separately:

In [0]:
# Merge Pet Weight and Pet Color based on pet Column and animal Column
df_pets1 = pd.merge(df_pets_age, df_animals_type, left_on='pet', right_on='animal')
df_pets1

### Reshaping

Reshaping means the transformation of the structure of data to make it suitable for further analysis.

Create data frame

In [0]:
# Create Data Frame
df_city = pd.DataFrame({'kecamatan' : pd.Series([21, 30], index =['medan', 'bandung']), 
                        'kelurahan' : pd.Series([151, 151], index =['medan', 'bandung']),
                        'area' : pd.Series([265, 167], index =['medan', 'bandung'])})
df_city.index.name = 'city'
df_city

Using the stack method on this data pivots the columns into the rows, producing a Series:

In [0]:
# Stack Data
result = df_city.stack()
result


From a hierarchically-indexed Series, you can rearrange the data back into a DataFrame with unstack:

In [0]:
# Unstack Data
result.unstack()


By default the innermost level is unstacked (same with stack). You can unstack a different level by passing a level number or name:

In [0]:
# Unstack in Different Level
result.unstack(0)

In [0]:
# Unstack in Different Level
result.unstack('city')

## Data Cleansing

### Removing Duplicates

Duplicate rows may be found in a DataFrame for any number of reasons. Here is an example. We use pet dataframe that already created before.

Show data frame

In [0]:
# Show the Data Frame
df_pets

The DataFrame method duplicated returns a boolean Series indicating whether each row is a duplicate or not:

In [0]:
# Check for Duplication
df_pets.duplicated()

Relatedly, drop_duplicates returns a DataFrame where the duplicated array is True:

In [0]:
# Drop Duplicates in The Dataframe
df_pets.drop_duplicates()

Drop duplicates based on one column

In [0]:
# Drop Duplicates based on Column Pet
df_pets.drop_duplicates(['pet'])

In [0]:
# Drop Duplicates based on Column Weight
df_pets.drop_duplicates(['age'])

In [0]:
# Drop Duplicates based on Column Gender
df_pets.drop_duplicates(['color'])

Drop duplicates based on more than one columns

In [0]:
# Drop Duplicates based on Column Pet and Weight
df_pets.drop_duplicates(['pet', 'age'])

### Replacing Values

In replacing values, we replace values with different new values. We use pet data frame that already created before.

Show data frame

In [0]:
# Show the Data Frame
df_pets

If we consider that otter with the age of 4 is an uncorrect and unknown data, we can replace these values with NA values (missing values).

In [0]:
# Set Value as Missing Data
df_pets.replace(4, np.nan)

Replace multiple values at once

In [0]:
# Set 4 and 5 Values as Missing Data
df_pets.replace([4, 5], np.nan)

Replace multiple values with different value for each

In [0]:
# Set 4 as Missing Data and 5 as 10
df_pets.replace({4: np.nan, 5: 10})

Create pet data with missing value

In [0]:
# Create Data Frame with Missing Value
df_pets_a = df_pets.replace({4: np.nan, 5: 10})
df_pets_a

### Impute Missing Values

Filling in missing data with the fill NA method. Here is an example. We use pet data frame with missing value that already created before.

Show data frame

In [0]:
# Show Data Frame
df_pets_a

Search for column with missing values

In [0]:
# Show Missing Values on Data Frame
df_pets_a.isnull().sum()

Impute missing value

In [0]:
# Impute Missing Values with Median Value
median = df_pets_a['age'].median()
df_pets_a['age'].fillna(median, inplace=True)
df_pets_a

Recheck the missing values

In [0]:
# Show Missing Values on Data Frame
df_pets_a.isnull().sum()

### Filtering

Filtering value is largely a matter of applying array operations. Consider a data frame with some normally distributed data:

In [0]:
# Create Data Frame with Random Value with 1000 Rows and 4 Columns
np.random.seed(12345)
df_random = pd.DataFrame(np.random.randn(1000, 4))
df_random

In [0]:
# Describe the Data
df_random.describe()

Find values in one of the columns exceeding three in magnitude

In [0]:
# Find Values in Column 2 which is Exceeding 3 in Magnitude
column2 = df_random[2]
column2[np.abs(column2) > 3]

Select all rows having a value exceeding 3 or -3

In [0]:
# Select Rows Having a Value Exceeding 3 in Magnitude
df_random[(np.abs(df_random) > 3).any(1)]